**/source_gen/*
**/source_gen.caches/*
**/test_gen/*
**/test_gen.caches/*
**/classes_gen/*
**/classes_jchr/*
**/.mps/workspace.xml
**/.mps/shelf/*
**/.idea/workspace.xml
**/lib/*
.gradle
out
build/*
samples/mpscore/build/*
config/*
system/*
MPS_HOME
TEST-*
