**/source_gen/*
**/source_gen.caches/*
**/test_gen/*
**/test_gen.caches/*
**/classes_gen/*
**/classes_jchr/*
.mps/workspace.xml
.idea/workspace.xml
.gradle
out
build/*
config/*
system/*
logic/solutions/jetbrains.mps.logic.reactor/lib/*
logic/solutions/jetbrains.mps.logic.test/lib/*
